body {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 20px auto;
  font-family: 'Kanit', sans-serif;
}
p,
h1,
h2,
h3,
a,
ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: rgb(49, 66, 18);
}
nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  padding: 20px 20px 60px 20px;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
}
nav li {
  list-style: none;
  margin-left: 10px;
}
nav h1 {
  font-size: 3em;
}
nav p,
nav a {
  color: #777;
  font-weight: 300;
}
footer {
  font-size: 20px;
  padding: 50px 0 10px 0;
  margin: 80px auto 20px;
  text-align: center;
}
h2 {
  margin-bottom: 40px;
}
h3 {
  text-transform: capitalize;
  margin-bottom: 8px;
}
.content {
  margin-left: 20px;
}
.create-blog form {
  max-width: 400px;
  margin: 0 auto;
}
.create-blog input,
.create-blog textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}
.create-blog button {
  margin-top: 20px;
  background: crimson;
  color: white;
  padding: 6px;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
}
